<main>
  <header>
    <h1 class="header-text">DEMO lux-semi-circle</h1>
  </header>
  <div class="items">
    <div class="info__item">
      <p class="info--text">Value:</p>
      <input class="form__input form-control" matInput [(ngModel)]="appService.value" type="number" min="0" [max]="valueOptions.maxValue">
    </div>
    <div class="info__item">
      <p class="info--text">max Value:</p>
      <input class="form__input form-control" [(ngModel)]="valueOptions.maxValue" type="number" min="0" [max]="100">
    </div>
    <div class="info__item">
      <p class="info--text">is Start From Center:</p>
      <input class="form__input" [(ngModel)]="isStartFromCenter" type="checkbox">
    </div>
    <div class="info__item">
      <p class="info--text">display Zone Line:</p>
      <input class="form__input" [(ngModel)]="valueOptions.displayZoneLine" type="checkbox">
    </div>
    <div class="info__item">
      <p class="info--text">background Color:</p>
      <input class="form__input form-control" matInput [(ngModel)]="circleOptions.backgroundColor" type="color">
    </div>
    <div class="info__item">
      <p class="info--text">radius:</p>
      <input class="form__input form-control" matInput [(ngModel)]="circleOptions.radius" type="number" min="0" [max]="350">
    </div>
    <div class="info__item">
      <p class="info--text">fill Height Percentage:</p>
      <input class="form__input form-control" matInput [(ngModel)]="circleOptions.fillHeightPercentage" type="number" min="0"
             max="100">
    </div>
    <div class="info__item">
      <p class="info--text">fill Wight Percentage:</p>
      <input class="form__input form-control" matInput [(ngModel)]="circleOptions.fillWightPercentage" type="number" min="0"
             max="400">
    </div>
    <button class="start-btn" mat-button (click)="appService.randomValue()">start</button>
  </div>
  <lux-semi-circle [height]="700"
                   [width]="700"
                   [value]="appService.value"
                   [isStartFromCenter]="isStartFromCenter"
                   [circleOptions]="circleOptions"
                   [valueOptions]="valueOptions">
  </lux-semi-circle>
</main>

<form class="zones" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div class="card m-3">
    <h3 class="card-header">ZONES</h3>
    <div *ngFor="let zone of zones.controls; let i = index" class="list-group list-group-flush">
      <div class="list-group-item">
        <div [formGroup]="zone" class="form-row">
          <div class="form-group col-3">
            <label>maxPointValue</label>
            <input type="number" formControlName="maxPointValue" class="form-control"/>
          </div>
          <div class="form-group col-4">
            <label>zoneColor</label>
            <input type="color" formControlName="zoneColor" class="form-control"/>
          </div>
          <div class="form-group col-4">
            <label>textColor</label>
            <input type="color" formControlName="textColor" class="form-control"/>
          </div>
          <div class="form-group col-1">
            <button class="btn btn-error mr-1" (click)="onDelete(i)">X</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-secondary mr-1" (click)="onAdd()">ADD</button>
      <button class="btn btn-primary mr-1" [disabled]="this.dynamicForm.invalid"
              [ngStyle]="(this.dynamicForm.invalid)?{'background-color': '#b3b4b6'}:{'background-color': '#00b60a'}"
              type="add" (click)="onSubmit()">Submit
      </button>
    </div>
  </div>
</form>

